html
    head
        title GitHub Client
        link(rel="stylesheet", href="/css/homepage.css")
        link(href="./index.js")
    body(class="resume")
        main
            header
              div(class="container")
                img(class="avatar" src="")
            section
              div(class="container")
                h1 ImMyst / Titouan.G
                h2 French student developer learning at Ynov school in Lyon Specialized in web development. Here is some of my projects I created and had to do during my lessons
              ul 
                li France, Lyon
